[submodule "Alamofire"]
	path = Third party/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Result"]
	path = Third party/Result
	url = https://github.com/antitypical/Result.git
[submodule "PimineSDK"]
	path = PimineSDK
	url = https://github.com/Pimine/PimineSDK
